{% extends 'base.html' %}
{% block body %}
<div class="container-fluid" style="background-color:#1976d2;color:white;">
    <br>
</div>
<div class="row equal">
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
    <div class="col-sm-6" style="color:#0d47a1;background-color:white;border-radius:0px;color:#0d47a1;" align="center">
        <div class="footer-widget">
            <div class="container" style="color:#0d47a1;" align="left">
                <br>
                <br>
                <h2 class="display-4" align="center">Pricing and FAQ</h2>
                <br>
                <h4><b>What is No More Billables, Inc.?</b></h4>

                <h5>No More Billables, Inc. (“NMB”) was created with a simple mission- to give law firm attorneys the opportunity to consider in house positions across the nation. We knew there was a need for a user-friendly platform that would allow companies and attorneys to connect easily. We also knew, from having billed thousands of hours, that our name was catchy.</h5>
                <br>
                <h4><b>Who founded NMB?</b></h4>

                <h5>NMB was founded by Joe Ankus - an attorney and legal recruiter resident in sunny South Florida. After billing thousands of hours at two AmLaw firms, he dedicated his career to being a legal recruiter. For over 25 years, Joe has placed hundreds of attorneys and counseled thousands more. In 2018, he launched NMB to assist the significant number of law firm attorneys who wanted to practice law  in a corporate setting. Joe served as a Board Member and former Executive Director of the National Association of Legal Search Consultants for over a decade. He is internationally recognized as a “go to” source for marketplace information regarding the legal community- both for law firms and for corporations.</h5>
                <br>
                <h4><b>How does NMB work?</b></h4>

                <h5>In a single word- efficiently. We strive to run a functional, streamlined and helpful platform to allow attorneys and companies the opportunity to connect directly with each other. Attorney Applicants NEVER pay NMB to use its platform. We are not a recruiting company, employment agency or consulting firm. Attorney Applicants connect directly to Position Advertisers via email.</h5>
                <br>
                <h4><b>How do I post a Position Advertisement on NMB?</b></h4>

                <h5>All you have to do is use our easy on-site form, enter your content, pay the appropriate fee and let NMB do the rest.</h5>
                <br>
                <h4><b>What does it cost to post a Position Advertisement?</b></h4>

                <h5>We have a uniform pricing policy-NMB only charges $100 per Position Advertisement. Once posted, each paid Position Advertisement will be hosted on our site for a period of 90 days.</h5>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#1976d2;color:white;">
    <br>
</div>
{% endblock %}
