{% extends 'base.html' %}
{% block body %}
<div class="container-fluid" style="background-color:#1976d2;color:white;">
    <br>
</div>
<div class="row equal">
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
    <div class="col-sm-6" style="color:#0d47a1;background-color:white;border-radius:0px;color:#0d47a1;" align="center">
        <div class="footer-widget">
            <div class="container">
            <br>
            <br>
                <h2>Thank you for your posting.</h2>
                <br>
                <h5>We will review it to confirm it complies with our Terms of Service and then post it to our site when it launches.</h5>
            <br>
            <br>
            </div>
        </div>
    </div>
    <div class="col-sm-3" style="background-color:white;">
        <div class="footer-widget">
            <br>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#1976d2;color:white;">
    <br>
</div>
{% endblock %}




