{% extends 'base.html' %}
{% block body %}
<div class="container-fluid" style="background-color:#1976d2;color:white;">
    <br>
    <br>
    <br>
    <h1 class='display-2' align="center">No More Billables!</h1>
    <h4 align="center">From Law Firm To Corporate Counsel - Simplified.</h4>
    <br>
    <br>
</div>
<div class="container-fluid" style="color:#0d47a1;">
    <div class="row equal">
        <div class="col-sm-3" style="background-color:white;">
            <div class="footer-widget">
                <br>
            </div>
        </div>
        <div class="col-sm-6" align="center" style="background-color:white;">
            <div class="footer-widget">
                <br>
                <br>
                <div class="container" align="left" style="border:2px solid;box-shadow: 10px 10px #888888;">
<br><br>
                    <h4>Congratulations!</h4>
<br>
                    <h5>On behalf of No More Billables, Inc. (“NMB”), I am pleased to welcome you to our growing family of recruiters who want to share their in house counsel positions with potential attorney candidates.</h5>
<br>
                    <h5>To show our appreciation for your support, we are offering you the opportunity, for a limited time, to post your in house positions on NMB for free. We are doing this for one simple reason- to thank you for supporting our efforts to bring increased awareness of in-house opportunities to attorneys.</h5>
<br>
                    <h5>Posting is easy- just click on the button called “Create Posting “ and complete our online form. Once your position has been approved, it will be on the site for 60 days.</h5>
<br>
                    <h5>Welcome to NMB!</h5>
<br><br>
                    <h5>Joe Ankus</h5>
                    <h6>President- No More Billables, Inc.</h6>
                <br><br>
                </div>
</div>
                    <br>
                   <a class="btn btn-primary" href="http://127.0.0.1:8000/posting/" role="button">Create Posting</a>
                    <br>
                    <br>

        </div>
        <div class="col-sm-3" style="background-color:white;">
            <div class="footer-widget">
                <br>
            </div>
        </div>
</div>
{% endblock %}


